.page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}

.page-center .container {
  margin-top: auto;
  margin-bottom: auto;
}

.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media print {
  .page-wrapper {
    margin: 0 !important;
  }
}

.page-wrapper-full .page-body:first-child {
  margin: 0;
  border-top: 0;
}

.page-body {
  margin-top: var(--tblr-page-padding-y);
  margin-bottom: var(--tblr-page-padding-y);
}

.page-body-card {
  background: var(--tblr-bg-surface);
  border-top: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color-translucent);
  padding: var(--tblr-page-padding) 0;
  margin-bottom: 0;
  flex: 1;
}
.page-body ~ .page-body-card {
  margin-top: 0;
}

.page-cover {
  background: no-repeat center/cover;
  min-height: 9rem;
}
@media (min-width: 768px) {
  .page-cover {
    min-height: 12rem;
  }
}
@media (min-width: 992px) {
  .page-cover {
    min-height: 15rem;
  }
}

.page-cover-overlay {
  position: relative;
}
.page-cover-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.page-header {
  display: flex;
  flex-wrap: wrap;
  min-height: 2.25rem;
  flex-direction: column;
  justify-content: center;
}
.page-wrapper .page-header {
  margin: var(--tblr-page-padding-y) 0 0;
}

.page-header-border {
  border-bottom: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
  padding: var(--tblr-page-padding-y) 0;
  margin: 0 !important;
  background-color: var(--tblr-bg-surface);
}

.page-pretitle {
  font-size: 0.625rem;
  font-weight: var(--tblr-font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1rem;
  color: var(--tblr-secondary);
}

.page-title {
  margin: 0;
  font-size: var(--tblr-font-size-h2);
  line-height: var(--tblr-line-height-h4);
  font-weight: var(--tblr-font-weight-headings);
  color: inherit;
  display: flex;
  align-items: center;
}
.page-title svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
}

.page-title-lg {
  font-size: 1.5rem;
  line-height: 2rem;
}

.page-subtitle {
  margin-top: 0.25rem;
  color: var(--tblr-secondary);
}

.page-cover {
  --tblr-page-cover-blur: 20px;
  --tblr-page-cover-padding: 1rem;
  min-height: 6rem;
  padding: var(--tblr-page-cover-padding) 0;
  position: relative;
  overflow: hidden;
}

.page-cover-img {
  position: absolute;
  top: calc(-2 * var(--tblr-page-cover-blur, 0));
  left: calc(-2 * var(--tblr-page-cover-blur, 0));
  right: calc(-2 * var(--tblr-page-cover-blur, 0));
  bottom: calc(-2 * var(--tblr-page-cover-blur, 0));
  pointer-events: none;
  filter: blur(var(--tblr-page-cover-blur));
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.page-tabs {
  margin-top: 0.5rem;
  position: relative;
}

.page-header-tabs .nav-bordered {
  border: 0;
}
.page-header-tabs + .page-body-card {
  margin-top: 0;
}

.page-link {
  min-width: 1.75rem;
  border-radius: var(--tblr-border-radius);
  position: relative;
  display: block;
  padding: var(--tblr-pagination-padding-y) var(--tblr-pagination-padding-x);
  font-size: var(--tblr-pagination-font-size);
  color: var(--tblr-pagination-color);
  background-color: var(--tblr-pagination-bg);
  border: var(--tblr-pagination-border-width) solid var(--tblr-pagination-border-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .page-link {
    transition: none;
  }
}

.page-link:hover {
  z-index: 2;
  color: var(--tblr-pagination-hover-color);
  text-decoration: none;
  background-color: var(--tblr-pagination-hover-bg);
  border-color: var(--tblr-pagination-hover-border-color);
}
.page-link:focus {
  z-index: 3;
  color: var(--tblr-pagination-focus-color);
  background-color: var(--tblr-pagination-focus-bg);
  outline: 0;
  box-shadow: var(--tblr-pagination-focus-box-shadow);
}
.page-link.active, .active > .page-link {
  z-index: 3;
  color: var(--tblr-pagination-active-color);
  background-color: var(--tblr-pagination-active-bg);
  border-color: var(--tblr-pagination-active-border-color);
}
.page-link.disabled, .disabled > .page-link {
  color: var(--tblr-pagination-disabled-color);
  pointer-events: none;
  background-color: var(--tblr-pagination-disabled-bg);
  border-color: var(--tblr-pagination-disabled-border-color);
}

.page-item {
  text-align: center;
}
.page-item:not(.active) .page-link:hover {
  background: transparent;
}
.page-item.page-prev, .page-item.page-next {
  flex: 0 0 50%;
  text-align: left;
}
.page-item.page-next {
  margin-left: auto;
  text-align: right;
}
.page-item-subtitle {
  margin-bottom: 2px;
  font-size: 12px;
  color: var(--tblr-secondary);
  text-transform: uppercase;
}
.page-item.disabled .page-item-subtitle {
  color: var(--tblr-disabled-color);
}
.page-item-title {
  font-size: 1rem;
  font-weight: var(--tblr-font-weight-normal);
  color: var(--tblr-body-color);
}

.page-item:not(:first-child) .page-link {
  margin-left: calc(0 * -1);
}
.page-item:first-child .page-link {
  border-top-left-radius: var(--tblr-pagination-border-radius);
  border-bottom-left-radius: var(--tblr-pagination-border-radius);
}
.page-item:last-child .page-link {
  border-top-right-radius: var(--tblr-pagination-border-radius);
  border-bottom-right-radius: var(--tblr-pagination-border-radius);
}

.page-link:hover .page-item-title {
  color: #0054a6;
}
.page-item.disabled .page-item-title {
  color: var(--tblr-disabled-color);
}

