<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logout</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- CSS files -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/boton.css">
</head>
<body class="border-top-wide border-primary d-flex flex-column">
  <div class="flex-fill d-flex align-items-center justify-content-center">
    <div class="container-tight">
      <div class="empty">
        <div class="empty-img">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="128" height="128" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 6a7.75 7.75 0 1 0 10 0" /><path d="M12 4l0 8" /></svg>
        </div>
        <p class="empty-title">Se ha cerrado la sesión</p>
        <p class="empty-subtitle text-muted">
          gracias por usar Formularios
        </p>
        <div class="empty-action">
          <a href="/" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path><path d="M5 12l6 6"></path><path d="M5 12l6 -6"></path></svg>
            Ir a inicio
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>