<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Control de Accesos</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/boton.css">
</head>

<body class="border-top-wide border-primary d-flex flex-column">
  <div class="flex-fill d-flex align-items-center justify-content-center">
    <div class="container-tight">
      <div class="empty">
        <div class="empty-img">
          <svg  xmlns="http://www.w3.org/2000/svg" class="text-warning" width="128"  height="128" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round" ><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18.9 7a8 8 0 0 1 1.1 5v1a6 6 0 0 0 .8 3" /><path d="M8 11c0 -.848 .264 -1.634 .713 -2.28m2.4 -1.621a4 4 0 0 1 4.887 3.901l0 1" /><path d="M12 12v1a14 14 0 0 0 2.5 8" /><path d="M8 15a18 18 0 0 0 1.8 6" /><path d="M4.9 19a22 22 0 0 1 -.9 -7v-1a8 8 0 0 1 1.854 -5.143m2.176 -1.825a8 8 0 0 1 7.97 .018" /><path d="M3 3l18 18" /></svg>
        </div>
        <p class="empty-title">usuario no registrado</p>
        <p class="empty-subtitle text-secondary">
          El usuario no está registrado en ésta aplicación
        </p>
        <div class="empty-action">
          <a href="/" class="btn btn-primary">Ir a inicio</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>